[submodule "EmberCoreRuntime"]
	path = EmberCoreRuntime
	url = https://github.com/y4n2sTh3Cod3r/EmberCoreRuntime.git
[submodule "Editor/vendor/imgui"]
	path = Editor/vendor/imgui
	url = https://github.com/TheCherno/imgui.git
	branch = docking
